---
const {
  type,
  placeholder,
  label,
  name,
  id,
  min,
  max,
  value,
  width = "100%",
} = Astro.props;
---

{
  type === "radio" ? (
    <div class="styled-radio">
      <input
        id={id}
        class="radio"
        type="radio"
        name={name}
        placeholder={placeholder}
        value={value}
      />
      <label for={id}>{label}</label>
    </div>
  ) : type === "text" ? (
    <>
      {label && <label for={id}>{label}</label>}
      <input
        class="text"
        type="text"
        value={value}
        name={name}
        id={id}
        placeholder={placeholder}
      />
    </>
  ) : type === "counter" ? (
    <input
      class="counter"
      type="number"
      value={value}
      name={name}
      placeholder={placeholder}
      min={min}
      max={max}
    />
  ) : type === "counter-sm" ? (
    <input
      class="counter-sm"
      type="number"
      value={value}
      name={name}
      placeholder={placeholder}
      min={min}
      max={max}
    />
  ) : null
}

<style define:vars={{ width }}>
  .fit-parent {
    width: var(--width);
  }
  input[type="text"] {
    width: var(--width);
    height: 56px;
    border-radius: 8px;
    border: 1px solid #cfcfcf;
    background: #fff;
    padding: 0 24px;
    font-weight: bold;
  }
  input::placeholder {
    font-family: Manrope;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.01563rem;
    opacity: 0.4;
    color: var(--night);
  }
  input:hover,
  input:focus {
    border: 1px solid #d87d4a;
    outline: none;
  }
  .styled-radio {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
  }
  .styled-radio > input[type="radio"] {
    width: 20px;
    height: 20px;
    accent-color: #d87d4a;
    display: block;
    position: absolute;
    left: 16px;
    cursor: pointer;
  }
  label + input[type="text"] {
    margin-top: 8px;
  }
  input[type="radio"] + label {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 56px;
    border-radius: 8px;
    border: 1px solid #cfcfcf;
    background: #fff;
    padding: 0 21px 0 48px;
    width: var(--width);
  }
  input[type="radio"]:checked + label,
  input[type="radio"] + label:hover {
    border: 1px solid #d87d4a;
    font-weight: bold;
  }
  .counter {
    width: 120px;
    height: 48px;
    background: var(--gray);
    border: 1px solid var(--gray);
    padding: 0 21px;
  }
  .counter-sm {
    width: 100px;
    height: 36px;
    background: var(--gray);
    border: 1px solid var(--gray);
    padding: 0 14px;
  }
</style>
