---
import Header from '../../node_modules/@aziontech/azion-web-kit/src/templates/header/index.vue';
import HeaderLogoAzion from '../../node_modules/@aziontech/azion-web-kit/src/templates/header/visualid/azion/index.vue';
import Divider from 'primevue/divider';
import SocialMediaTags from '@components/html/meta-tags/social-media.astro';

import "primeflex/primeflex.css";
import "primeicons/primeicons.css";
import "@assets/icons/azionicons.scss";
import "@styles/main.css";
import "@styles/divider.css";
import Head from "@components/html/Head.astro";

const {
  title,
  description,
  lang,
  i18nPages,
  ogImage,
  meta_tags,
  buttons,
} = Astro.props;
---

<html lang={lang} class="azion-dark scroll-smooth">
  <head>
    <Head
      title={title}
      description={description}
      pageLangs={i18nPages}
      {lang}
      {meta_tags}
    />
    <meta property="og:image" content={ogImage} />
    <meta property="og:type" content="website" />
    <SocialMediaTags ogtype="article" {title} {description} {ogImage} />
  </head>
  <body id="app" class="surface-ground">
    <Header menuSecondary={buttons} class="flex items-center">
      <HeaderLogoAzion
        slot="visualid"
        href="/"
        hrefTitle="Home | Azion Technologies"
        target="_self"/>
    </Header>
    
    <main>
      <slot />
    </main>

    <footer class="flex flex-col gap-8 justify-center items-center pb-12">
      <Divider />
      <div class="px-container">
        <p class="text-color-secondary text-xs">
          © Azion Technologies ou suas afiliadas. Todos os direitos reservados.
        </p>
      </div>
    </footer>
  </body>
</html>
