---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/organisms/Hero.astro";
import { colors } from "../../design-system/colors.js";
import Text from "../../components/atoms/Text.astro";
import FeaturedProducts from "../../components/organisms/FeaturedProducts.astro";
import Outro from "../../components/organisms/Outro.astro";
import Footer from "../../components/organisms/Footer.astro";
import Button from "../../components/atoms/Button.astro";
import { data } from "../../utils/dummyData.js";
import Input from "../../components/atoms/Input.astro";

export async function getStaticPaths() {
  return data.map((product) => {
    return {
      params: { slug: product.slug },
      props: product,
    };
  });
}

const { name, description, price, features, image, includes, gallery, others } =
  Astro.props;
---

<Layout title="Earphones">
  <Hero />

  <div class="container back-btn">
    <Button onClick="history.back()" color="rgba(0,0,0,.7)">Go back</Button>
  </div>
</Layout>

<div class="product-item-row container">
  <div class="w-full flex flex-col justify-center gap-4">
    <div class="w-full lg:w-[396px]">
      <Text type="body" color={colors.primary}>NEW PRODUCT</Text>
    </div>
    <div class="w-full lg:w-[396px]">
      <Text type="h3">
        {name}
      </Text>
    </div>
    <div class="w-full lg:w-4/6">
      <Text type="body">
        {description}
      </Text>
    </div>
    <div class="w-full lg:w-4/6 mt-4 mb-4">
      <Text type="h6" className=" font-extrabold">
        {`$${price}`}
      </Text>
    </div>
    <div class="flex gap-4">
      <Input type="counter" value={1} />
      <Button type="primary">ADD TO CART</Button>
    </div>
  </div>
  <div>
    <img class="mb-16 lg:mb-0" src={image.desktop} alt="best-gear" />
  </div>
</div>

<div class="container features">
  <div class="w-full flex flex-col justify-center gap-4">
    <div class="w-full lg:w-[396px]">
      <Text type="h5">FEATURES</Text>
    </div>
    <div class="w-full lg:w-5/6">
      <Text type="body">
        {features}
      </Text>
    </div>
  </div>

  <div class="w-full flex flex-col justify-center gap-4">
    <div class="w-full lg:w-[396px]">
      <Text type="h5">IN THE BOX</Text>
    </div>
    <div class="w-full lg:w-4/6">
      <Text type="body">
        {
          includes.map((extra) => (
            <div class="flex gap-4">
              <Text type="body" color={colors.primary}>
                {`${extra.quantity}x`}
              </Text>
              <Text type="body">{extra.item}</Text>
            </div>
          ))
        }
      </Text>
    </div>
  </div>
</div>

<div class="container gallery">
  <div style={{ backgroundImage: `url(${gallery.first.desktop})` }}></div>
  <div style={{ backgroundImage: `url(${gallery.second.desktop})` }}></div>
  <div style={{ backgroundImage: `url(${gallery.third.desktop})` }}></div>
</div>

<div
  class="container flex flex-wrap justify-between md:flex-nowrap gap-4 mt-16 mb-36"
>
  {
    others.map((item) => (
      <div class="flex flex-col gap-8 others w-full md:w-1/3 mb-12 md:mb-0">
        <div class="img-wrapper">
          <img src={item.image.desktop} alt={item.slug} />
        </div>
        <div class="flex flex-col gap-8 items-center details">
          <Text type="h5">{item.name}</Text>
          <a href={`/products/${item.slug}`}>
            <Button type="primary">SEE PRODUCT</Button>
          </a>
        </div>
      </div>
    ))
  }
</div>

<!-- Featured products -->
<FeaturedProducts />

<!-- Outro section -->
<Outro />

<!-- Footer -->
<Footer />

<style>
  .features,
  .gallery {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .back-btn {
    margin-top: 34px;
    margin-bottom: 34px;
  }
  .hero {
    height: 250px;
  }
  .product-item-row {
    justify-content: space-between;
  }

  .features {
    display: flex;
    flex-direction: column;
    gap: 34px;
  }

  .gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 16px;
  }

  .gallery > div:nth-child(1),
  .gallery > div:nth-child(2),
  .gallery > div:nth-child(3) {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
  }

  .gallery > div:nth-child(1),
  .gallery > div:nth-child(2) {
    min-height: 200.221px;
  }

  .gallery > div:nth-child(3) {
    min-height: 418.221px;
  }

  .img-wrapper img {
    width: 100%;
  }

  @media only screen and (min-width: 1024px) {
    .features {
      flex-direction: row;
      justify-content: space-between;
    }

    .gallery > div:nth-child(1),
    .gallery > div:nth-child(2),
    .gallery > div:nth-child(3) {
      min-height: 418.221px;
    }

    .features > div:nth-child(2) {
      width: 60%;
    }

    .gallery {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 16px;
    }

    .gallery > div:nth-child(1) {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    .gallery > div:nth-child(2) {
      grid-column: 2/3;
      grid-row: 1/3;
    }
    .gallery > div:nth-child(3) {
      grid-column: 1/2;
      grid-row: 2/3;
    }
  }
</style>
